.search_result {
  border: 1px solid #b388ff;
  background-color: #ffffff;
  border-radius: 16px;
  width: 12vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b388ff;
  font-size: 13px;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 1px;
  margin-top: 20px;
  //   padding: 0px 12px;
}
