.search_result {
  border: 1px solid #b388ff;
  background-color: #ffffff;
  border-radius: 16px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b388ff;
  font-size: 13px;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 5px 0px;
  font-weight: 300;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.search_result_wrapper {
  width: 98px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 16px;
  background-color: white;
}

.search_btn {
  height: 36.5px;
  border-radius: 4px;
  border: none;
  padding: 6px 16px 6px 16px;
  margin-top: 7px;
  cursor: pointer;
  background-color: #651fff;
  color: white;
  font-weight: 700;
  font-size: 14px;
}

.search_btn_disabled {
  height: 36.5px;
  border-radius: 4px;
  border: none;
  padding: 6px 16px 6px 16px;
  margin-top: 7px;
  background-color: #d4d4d4;
  color: #9f9f9f;
  font-weight: 700;
  font-size: 14px;
}

.result_line {
  position: relative;
  top: 24px;
  z-index: -1;
  color: #b388ff;
}
